body {
    background-color: #282c34; /* Cambia este color por el que desees */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}
